table{
    border-collapse: collapse;
    width: 100%;
}

th,td{
    border: 1px solid black;
    text-align: left;
    padding: 8px;
}

input{
    height: 25px;
    width: 300px;
    margin: 5px;
}

button{
    width: 50px;
    margin: 10px;
}